@import '../variables.scss';

.Info {
  margin-top: 60px;
}

.Info__name {
}

.Info__title {
  margin-top: 60px;
  color: $primary-color;
}

.Info__icons {
  color: $primary-color;
  display: grid;
  grid-template: 100px / 1fr repeat(4, 80px) 1fr;
  justify-items: center;
  margin-bottom: 80px;
}

.Info__icons__icon {
  height: 100px;
  font-size: 2.2rem;

  &:hover {
    font-size: 3rem;
  }
}
