.Contact__body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;

  @media screen and (max-width: 990px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
}

.Contact__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.Contact__info__list {
  margin-top: 40px;
}

.Contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.Contact__form__group {
  width: 40vw;
  text-align: left;
  @media screen and (max-width: 990px) {
    width: 70vw;
  }
}
