@import '../variables.scss';

.Works {
  display: grid;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 10%;
  padding-left: 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-items: center;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  height: 100%;
  background-color: $primary-color;
}

.Warbler {
  background-color: white;
  padding-bottom: 30px;
  align-self: start;
  height: 100%;
}

.Warbler__image {
  margin: 0;
  height: calc(100vh - 100px);
  width: 100vw;
  @media screen and (max-width: 768px) {
    width: auto;
    height: 100vh;
  }
}

.Warbler__info {
  margin: 60px 0 30px 0;
}

.Warbler__link {
  &:hover {
    font-size: 25px;
  }
}

.Shareshot {
  align-self: end;
  padding-top: 30px;
  margin: 0;
  background-color: white;
  height: 100%;
}

.Shareshot__info {
  margin: 30px 0;
}

.Shareshot__description {
  margin-bottom: 40px;
}

.Shareshot__link {
}

.Shareshot__image {
  height: calc(100vh - 100px);
  width: 100vw;
  @media screen and (max-width: 768px) {
    width: auto;
    height: 100vh;
  }
}

.warbler-c {
  margin: 0;
  height: calc(100vh-100px);
  width: 100vw;
  align-self: start;
  @media screen and (max-width: 768px) {
    width: auto;
  }
}
